---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
)
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <h1 class="animate font-semibold text-black dark:text-white">
        Iniciemos con este blog 💡
      </h1>
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <span class="animate">
              <p>
                Hola, soy Pablo, y este es mi rincón en la web donde comparto
                mis vivencias en el mundo de la tecnología, el desarrollo de
                software, y el diseño de productos. Parango Blog nació de mi
                deseo por aprender, experimentar y documentar cada paso en este
                emocionante viaje. Aquí encontrarás mis reflexiones sobre las
                herramientas que pruebo, los proyectos en los que me involucro,
                y los conocimientos que voy adquiriendo en el proceso.
              </p>
              <p>
                Mi objetivo es que este blog no solo sirva como un registro de
                mi progreso, sino también como un recurso valioso para otros
                desarrolladores y entusiastas de la tecnología. Espero que mis
                experiencias y descubrimientos te inspiren a seguir explorando,
                aprendiendo, y creciendo en tu propio camino.
              </p>
              <p>¡Gracias por estar aquí y acompañarme en esta aventura!</p>
            </span>
          </article>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Últimos Posts
            </h2>
            <Link href="/blog">Todos los posts</Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              blog.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">Proyectos</h2>
            <Link href="/projects">Todos los proyectos</Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              projects.map((project) => (
                <li>
                  <ArrowCard entry={project} />
                </li>
              ))
            }
          </ul>
        </section>

        <section class="animate space-y-4">
          <h2 class="font-semibold text-black dark:text-white">Conectémos</h2>
          <article>
            <p>
              Si quieres ponerte en contacto conmigo por alguna razón o
              simplemente para saludar, puedes hacerlo a través de las redes
              sociales o enviándome un correo electrónico.
            </p>
          </article>
          <ul class="not-prose flex flex-wrap gap-2">
            {
              SOCIALS.map((SOCIAL) => (
                <li class="flex gap-x-2 text-nowrap">
                  <Link
                    href={SOCIAL.HREF}
                    external
                    aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                  >
                    {SOCIAL.NAME}
                  </Link>
                  {"/"}
                </li>
              ))
            }
            <li class="line-clamp-1">
              <Link
                href={`mailto:${SITE.EMAIL}`}
                aria-label={`Email ${SITE.TITLE}`}
              >
                {SITE.EMAIL}
              </Link>
            </li>
          </ul>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
